<%- include("../include/head") %>
<body>
<p>password reset link is send to your email</p>   
<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">check mail box</a>
</body>
<%- include("../include/foot") %>
