<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1 class="titles">CREATE A NEW ACCOUNT</h1>
    <form action="/register" method="post" class="formbox">
        <input hidden value="<%= csrfToken %>" name="_csrf">
        <% if(err.length) { %>
            <p class="errormsg"><%= err %></p>
        <% } %>
        <div class="filldata">
    <label for="email">email</label>
        <input  id="email" type="text" name="email">
    </div>
    <div class="filldata">
        <label for="password">password
        </label>
            <input  id="password" type="text" name="password">
        </div>
    
        <button>register</button>
    </form>
    <a href="/" class="backhome">back home</a>
</body>
</html>