<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1 class="titles">reset</h1>
   
    <form action="/resetPassword" method="post" class="formbox">
        <input hidden value="<%= csrfToken %>" name="_csrf">

        <% if(errormsg) { %>
            <p class="errormsg"><%= errormsg %></p>
            <% } %>


        <div class="filldata">
    <label for="email">email</label>
        <input  id="email" type="text" name="email">
    </div>
        <button>Reset password</button>
    </form>
    <a href="/login" class="backhome">back login</a>
   
</body>
</html>