<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1 class="titles">ADD A NEW POST</h1>
    <form action="/admin" method="post" class="formbox">
        <div class="filldata">
    <label for="title">Title</label>
        <input  id="title" type="text" name="title">
    </div>
<div class="filldata">
        <label for="description">Description</label>
        <input  id="description" type="text" name="description">
    </div>
        <button>add post</button>
    </form>
    <a href="/" class="backhome">back home</a>
</body>
</html>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veniam nulla beatae deleniti voluptatem, numquam, veritatis at perspiciatis minima deserunt sit animi, odit cupiditate facere? Magnam aliquid nobis dolorum ea?