<%- include("./include/head") %>
<body>
    <h1 class="titles"> detials page</h1>
   <hr>
   
    <div class="card">
        
        <h3 class="post_title"><%= post.title %></h3>
        <hr>
        <p><%= post.description %></p>
    </div>
</body>
<%- include("./include/foot") %>