<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="titles"> i am home page</h1>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt velit voluptatum, numquam ab perspiciatis sequi? Totam ab nulla odit ad dolorum laudantium sint aperiam expedita cumque vel, officiis nostrum hic!</p>
    <a href="/admin/createpost" class="addpost">Add post</a>
    <hr>
</body>
</html>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae quam beatae, quis ducimus, dolor asperiores numquam quisquam maiores id blanditiis maxime enim doloribus dolorum, porro reiciendis ab. Nobis, maxime.