
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.titles{
    text-align: center;
    text-transform: uppercase;
}
.btn{
    display: block;
    padding: 10px 20px;
    width: 150px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    margin:10px;
}
.btn:hover{
    background-color: #161616;
}
.addpost{
    display: block;
    background: black;
    width: 200px;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;

}
.addpost:hover{
    background-color: #161616;
}

.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.filldata{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filldata label{
   
    display: block;
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
}
.filldata input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}
.filldata textarea{
    width: 300px;
    border-radius: 8px;
}
.formbox button{
    display: block;
    width: 410px;
    height: 30px;
    border-radius: 8px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.backhome{
    display: block;
    width: 100px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 40px;
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.card{
    border: 1px solid #2e2e2e;
    background-color: #494949;
    color: #fff;
    width: 400px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px 10px;
    max-height: 300px;


}
.post_title{
    text-transform: uppercase;
}
.mgbtncontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mgbtn{
    display: block;
    width: 100%;
    margin: 10px 20px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.deletebtn,.editbtn{
    display: block;
    background-color: #161616;
    width: 130px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: none;
    
}
.deletebtn:hover,.editbtn:hover{
    background-color: #494949;
}
.dform{
    width: 100%;
}
.logout{
    display: block;
    background-color: #2e2e2e;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    
}
.logoutform{
    width: 190px;
    padding: 10px;
}
.errormsg{
    text-align: center;
    color: #fff;
    width: 390px;
    padding: 5px 10px;
    background-color: #494949;
    border-radius: 3px;
}
.forget{
    margin:40px;
    text-decoration: none;
    font-size: medium;
    color: rgb(41, 41, 255);
    text-align: center;
}
.detailuser,.detailtime{
    font-weight: 800;
    font-size: 20px;
    margin: 10px;
}
.detailuser > span,.detailtime > span{
    font-size: 14px;
    color: #282828;
}
@media(max-width:992px){
    .addpost{
        font-size: 15px;
        width: 150px;
    }
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        width: 320px;
    }
    .deletebtn,.editbtn{
        width: 100px;
    }
}