<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> pdf Document</title>
</head>
<body>
    <h1>{{post.title}}</h1>
    <p>Author - {{post.userId.email}}</p>
    <img src="http://localhost:5500/{{post.photo}}" alt="image">
    <p>{{post.description}}</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi eum inventore ad cupiditate nobis eos maiores ratione voluptates, vel, sint architecto sequi laborum optio libero, at ipsam aliquam. Necessitatibus, eligendi!</p>
</body>
</html>